<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

		<!-- javascript -->
		<script src="/js/jquery.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/syntax.css">

    </head>
    <body>
		<div class="bg"></div>
        <div class="container">
          <div class="site">
            <div class="header">

			  <a href="/"><img src="/images/freshrinse_logo.png" /></a>
              <!--<a class="extra" href="/blog.html">Blog</a>-->
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Fresh Rinse Carpet &amp; Upholstery Cleaners<br />
                  Santa Barbara, CA<br />
                  (805)708-3367<br />
				  <a href="mailto:freshrinse@yahoo.com"> freshrinse2012@yahoo.com</a>
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
